@{
    ViewBag.Title = "About DavesTopMusic";
}
<h2>@ViewBag.Title.</h2>
<p>A site to help you find great music and play it on Spotify!!</p>

<h3>Links</h3>
<p><a href="https://github.com/djhmateer/davesmusic">https://github.com/djhmateer/davesmusic</a> - Source is available</p>
<p><a href="https://skillsmatter.com/skillscasts/6350-30m-plus-songs-explore-your-favorite-music-with-spotifys-json-web-api-mvc5-dapper-and-oauth2">Skills Matters recording</a></p>
<p><a href="http://www.dddsouthwest.com/">http://www.dddsouthwest.com/</a> - I spoke at this great event</p>

<h3>Contact Me</h3>
<p>davemateer@gmail.com - feedback welcome!</p>

