@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*<p><a href="/Profiles/Me">User Details (login)</a></p>
    <p><a href="/Browse/NewReleases">New Releases (login)</a></p>
    <p><a href="/Browse/FeaturedPlaylists">Featured Playlists (login)</a></p>*@
