@{
    ViewBag.Title = "About DavesTopMusic";
}
<h2>@ViewBag.Title.</h2>
<p>A site to help you find great music and play it on Spotify!</p>

<h3>Links</h3>
<p><a href="https://github.com/djhmateer/davesmusic">https://github.com/djhmateer/davesmusic</a> - Source is available</p>
<p><a href="http://www.dddsouthwest.com/">http://www.dddsouthwest.com/</a> - I will be speaking at this event</p>

<h3>Contact Me</h3>
<p>davemateer@gmail.com - feedback welcome!</p>

