
<p>Test Page for Spotify</p>

<p>Make a playlist - authenticate first</p>
<a href="/Home/SpotifyAuthenticate">Go</a>
<br />
<br />


<p>Play Track - Johnny B Goode</p>
<iframe src="https://embed.spotify.com/?uri=spotify:track:0mDHS1Q7HGtpgjYAyG2Svn" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

<p>Play Album - Led Zep IV</p>
<iframe src="https://embed.spotify.com/?uri=spotify:album:44Ig8dzqOkvkGDzaUof9lK" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<p>Play Playlist - All UK Number 1's all time</p>
<iframe src="https://embed.spotify.com/?uri=spotify:user:hoxsd:playlist:0Z7jXtAId643ujM1UPshct" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<p>Play Playlist - All UK Number 1's all time..theme white</p>
<iframe src="https://embed.spotify.com/?uri=spotify:user:hoxsd:playlist:0Z7jXtAId643ujM1UPshct&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<p>Multiple Tracks Player - csv list</p>
<iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>