@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li><input id="searchTerm" name="searchTerm" type="text" placeholder="" /></li>
        <li><input type="submit" value="Search" /></li>
    </ul>
}

